    * {
        padding: 0;
        margin: 0;
    }

    body {
        background-color: oldlace;
        background-position: center;
        background-size: cover;
        background-position: center;
        box-sizing: border-box;

    }

    .menubar {
        background: dimgray;
        text-align: center;
    }

    .menubar ul {
        display: inline-flex;
        list-style: none;
    }

    .menubar ul li {
        width: 120px;
        margin: 15px;
        padding: 15px;
        color: white;

    }

    .menubar ul a {
        text-decoration: none;

    }
    