.form-container {
  width: 50%;
  margin: auto;
  height: 400px;
  background-color: darkgoldenrod;
  text-align: center;
}
h1 {
  margin-top: 50px;
}
.form-div {
  margin: 12px;
  margin-bottom: 10px;
  margin-top: 30px;
}
input {
  margin: 5px;
}
button {
  margin-left: 3%;
  width: 6%;
  border-radius: 14%;
}
