.form-container {
  width: 50%;
  margin: auto;
  height: 400px;
  background-color: gainsboro;  
  border-radius: 20px;
  
}
h1 {
  margin-top: 50px;
  text-align: center;
}
.form-div {
  width: 50%;
  margin: 0 auto;
   
}

fieldset{
  margin: 0 auto;
  width: 50%;
  align-content: center;
  border-radius: 20px;
  padding: 15px;
  
  
}

input {
  margin: 5px;
  display: block;
  border-radius: 25px;
  padding: 4px; 
  border-width: 1px;
  
}


button {
  margin-left: 3%;
  width: 40%;
  border-radius: 25px;
  color: white;
  text-align: center;
  background-color: black;
  border-width: 1px;
}

button:hover{
  background-color: dimgray;
}
