{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web development</title>\
    <link rel="stylesheet" href="{% static 'MyApp/styles/styles.css' %}">


</head>
<body>


<!-- sign in form -->
<div class="form-container">
    <div class="form-div">
        <h1>Login Form</h1>
    <form action="" method="post">
        <fieldset>
            <legend>Login form</legend>
                <label for="username">Username</label>
            <input type="text" placeholder="Enter username"><br>
            
            <label for="password">Password</label>
            <input type="password" placeholder="Enter password"><br>
            <button type="submit">Login</button>
        </fieldset>
    </form>
    </div>
    
</div>
</body>
</html>